<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="coin">
            <h2><span>Coin</span> {{ coin.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{ coin.userId }}</span>
                </dd>
                <dt><span>Change</span></dt>
                <dd>
                    <span>{{ coin.change }}</span>
                </dd>
                <dt><span>Amount</span></dt>
                <dd>
                    <span>{{ coin.amount }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ coin.status }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ coin.createdAt }}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{ coin.updatedAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/coin', coin.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
