<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span>Address</span> {{ address.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{ address.userId }}</span>
                </dd>
                <dt><span>Telephone</span></dt>
                <dd>
                    <span>{{ address.telephone }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ address.address }}</span>
                </dd>
                <dt><span>Postcode</span></dt>
                <dd>
                    <span>{{ address.postcode }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ address.createdAt }}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{ address.updatedAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
