<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cartItem">
            <h2><span>Cart Item</span> {{ cartItem.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Cart Id</span></dt>
                <dd>
                    <span>{{ cartItem.cartId }}</span>
                </dd>
                <dt><span>Product Id</span></dt>
                <dd>
                    <span>{{ cartItem.productId }}</span>
                </dd>
                <dt><span>Color</span></dt>
                <dd>
                    <span>{{ cartItem.color }}</span>
                </dd>
                <dt><span>Size</span></dt>
                <dd>
                    <span>{{ cartItem.size }}</span>
                </dd>
                <dt><span>Qty</span></dt>
                <dd>
                    <span>{{ cartItem.qty }}</span>
                </dd>
                <dt><span>Price</span></dt>
                <dd>
                    <span>{{ cartItem.price }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ cartItem.createdAt }}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{ cartItem.updatedAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cart-item', cartItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
