<div>
    <h2 id="page-heading">
        <span>Cart Items</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cart-item" [routerLink]="['/cart-item/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Cart Item
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cartItems?.length === 0">
        <span>No cartItems found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cartItems?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Cart Id</span></th>
                    <th scope="col" ><span>Product Id</span></th>
                    <th scope="col" ><span>Color</span></th>
                    <th scope="col" ><span>Size</span></th>
                    <th scope="col" ><span>Qty</span></th>
                    <th scope="col" ><span>Price</span></th>
                    <th scope="col" ><span>Created At</span></th>
                    <th scope="col" ><span>Updated At</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartItem of cartItems ;trackBy: trackId">
                    <td><a [routerLink]="['/cart-item', cartItem.id, 'view']">{{ cartItem.id }}</a></td>
                    <td>{{ cartItem.cartId }}</td>
                    <td>{{ cartItem.productId }}</td>
                    <td>{{ cartItem.color }}</td>
                    <td>{{ cartItem.size }}</td>
                    <td>{{ cartItem.qty }}</td>
                    <td>{{ cartItem.price }}</td>
                    <td>{{ cartItem.createdAt | date:'medium' }}</td>
                    <td>{{ cartItem.updatedAt | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cart-item', cartItem.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cart-item', cartItem.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cartItem)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
