<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="customerOrder">
            <h2><span>Customer Order</span> {{ customerOrder.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Cart Id</span></dt>
                <dd>
                    <span>{{ customerOrder.cartId }}</span>
                </dd>
                <dt><span>Status</span></dt>
                <dd>
                    <span>{{ customerOrder.status }}</span>
                </dd>
                <dt><span>Order Id</span></dt>
                <dd>
                    <span>{{ customerOrder.orderId }}</span>
                </dd>
                <dt><span>Delivery Address Id</span></dt>
                <dd>
                    <span>{{ customerOrder.deliveryAddressId }}</span>
                </dd>
                <dt><span>Billing Address Id</span></dt>
                <dd>
                    <span>{{ customerOrder.billingAddressId }}</span>
                </dd>
                <dt><span>Same As Billing</span></dt>
                <dd>
                    <span>{{ customerOrder.sameAsBilling }}</span>
                </dd>
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{ customerOrder.userId }}</span>
                </dd>
                <dt><span>Payment Method Id</span></dt>
                <dd>
                    <span>{{ customerOrder.paymentMethodId }}</span>
                </dd>
                <dt><span>Discount</span></dt>
                <dd>
                    <span>{{ customerOrder.discount }}</span>
                </dd>
                <dt><span>Total</span></dt>
                <dd>
                    <span>{{ customerOrder.total }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ customerOrder.createdAt }}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{ customerOrder.updatedAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/customer-order', customerOrder.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
