<div>
    <h2 id="page-heading">
        <span>Customer Orders</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-customer-order" [routerLink]="['/customer-order/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Customer Order
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="customerOrders?.length === 0">
        <span>No customerOrders found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="customerOrders?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Cart Id</span></th>
                    <th scope="col" ><span>Status</span></th>
                    <th scope="col" ><span>Order Id</span></th>
                    <th scope="col" ><span>Delivery Address Id</span></th>
                    <th scope="col" ><span>Billing Address Id</span></th>
                    <th scope="col" ><span>Same As Billing</span></th>
                    <th scope="col" ><span>User Id</span></th>
                    <th scope="col" ><span>Payment Method Id</span></th>
                    <th scope="col" ><span>Discount</span></th>
                    <th scope="col" ><span>Total</span></th>
                    <th scope="col" ><span>Created At</span></th>
                    <th scope="col" ><span>Updated At</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customerOrder of customerOrders ;trackBy: trackId">
                    <td><a [routerLink]="['/customer-order', customerOrder.id, 'view']">{{ customerOrder.id }}</a></td>
                    <td>{{ customerOrder.cartId }}</td>
                    <td>{{ customerOrder.status }}</td>
                    <td>{{ customerOrder.orderId }}</td>
                    <td>{{ customerOrder.deliveryAddressId }}</td>
                    <td>{{ customerOrder.billingAddressId }}</td>
                    <td>{{ customerOrder.sameAsBilling }}</td>
                    <td>{{ customerOrder.userId }}</td>
                    <td>{{ customerOrder.paymentMethodId }}</td>
                    <td>{{ customerOrder.discount }}</td>
                    <td>{{ customerOrder.total }}</td>
                    <td>{{ customerOrder.createdAt | date:'medium' }}</td>
                    <td>{{ customerOrder.updatedAt | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/customer-order', customerOrder.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/customer-order', customerOrder.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(customerOrder)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
