<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span>Company</span> {{ company.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ company.name }}</span>
                </dd>
                <dt><span>Address</span></dt>
                <dd>
                    <span>{{ company.address }}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ company.phone }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ company.email }}</span>
                </dd>
                <dt><span>Website</span></dt>
                <dd>
                    <span>{{ company.website }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ company.createdAt }}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{ company.updatedAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company', company.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
