<div>
    <h2 id="page-heading">
        <span>Cart Addresses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-cart-address" [routerLink]="['/cart-address/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Cart Address
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="cartAddresses?.length === 0">
        <span>No cartAddresses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="cartAddresses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Cart Id</span></th>
                    <th scope="col" ><span>First Name</span></th>
                    <th scope="col" ><span>Last Name</span></th>
                    <th scope="col" ><span>Phone</span></th>
                    <th scope="col" ><span>City</span></th>
                    <th scope="col" ><span>Street</span></th>
                    <th scope="col" ><span>Created At</span></th>
                    <th scope="col" ><span>Updated At</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cartAddress of cartAddresses ;trackBy: trackId">
                    <td><a [routerLink]="['/cart-address', cartAddress.id, 'view']">{{ cartAddress.id }}</a></td>
                    <td>{{ cartAddress.cartId }}</td>
                    <td>{{ cartAddress.firstName }}</td>
                    <td>{{ cartAddress.lastName }}</td>
                    <td>{{ cartAddress.phone }}</td>
                    <td>{{ cartAddress.city }}</td>
                    <td>{{ cartAddress.street }}</td>
                    <td>{{ cartAddress.createdAt | date:'medium' }}</td>
                    <td>{{ cartAddress.updatedAt | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/cart-address', cartAddress.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/cart-address', cartAddress.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(cartAddress)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
