<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cartAddress">
            <h2><span>Cart Address</span> {{ cartAddress.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Cart Id</span></dt>
                <dd>
                    <span>{{ cartAddress.cartId }}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{ cartAddress.firstName }}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{ cartAddress.lastName }}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ cartAddress.phone }}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{ cartAddress.city }}</span>
                </dd>
                <dt><span>Street</span></dt>
                <dd>
                    <span>{{ cartAddress.street }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ cartAddress.createdAt }}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{ cartAddress.updatedAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cart-address', cartAddress.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
