<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="productImage">
            <h2><span>Product Image</span> {{ productImage.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Product Id</span></dt>
                <dd>
                    <span>{{ productImage.productId }}</span>
                </dd>
                <dt><span>Filename</span></dt>
                <dd>
                    <span>{{ productImage.filename }}</span>
                </dd>
                <dt><span>Image</span></dt>
                <dd>
                    <div *ngIf="productImage.image">
                        <a (click)="openFile(productImage?.imageContentType!, productImage?.image)">
                            <img [src]="'data:' + productImage.imageContentType + ';base64,' + productImage.image" style="max-width: 100%;" alt="productImage image"/>
                        </a>
                        {{ productImage.imageContentType }}, {{ byteSize(productImage.image) }}
                    </div>
                </dd>
                <dt><span>Sequence</span></dt>
                <dd>
                    <span>{{ productImage.sequence }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ productImage.createdAt }}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{ productImage.updatedAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product-image', productImage.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
