<div>
    <h2 id="page-heading">
        <span>Billing Addresses</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-billing-address" [routerLink]="['/billing-address/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Billing Address
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="billingAddresses?.length === 0">
        <span>No billingAddresses found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="billingAddresses?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>User Id</span></th>
                    <th scope="col" ><span>First Name</span></th>
                    <th scope="col" ><span>Last Name</span></th>
                    <th scope="col" ><span>Email</span></th>
                    <th scope="col" ><span>Phone</span></th>
                    <th scope="col" ><span>City</span></th>
                    <th scope="col" ><span>Street</span></th>
                    <th scope="col" ><span>Created At</span></th>
                    <th scope="col" ><span>Updated At</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let billingAddress of billingAddresses ;trackBy: trackId">
                    <td><a [routerLink]="['/billing-address', billingAddress.id, 'view']">{{ billingAddress.id }}</a></td>
                    <td>{{ billingAddress.userId }}</td>
                    <td>{{ billingAddress.firstName }}</td>
                    <td>{{ billingAddress.lastName }}</td>
                    <td>{{ billingAddress.email }}</td>
                    <td>{{ billingAddress.phone }}</td>
                    <td>{{ billingAddress.city }}</td>
                    <td>{{ billingAddress.street }}</td>
                    <td>{{ billingAddress.createdAt | date:'medium' }}</td>
                    <td>{{ billingAddress.updatedAt | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/billing-address', billingAddress.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/billing-address', billingAddress.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(billingAddress)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
