<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="deliveryAddress">
            <h2><span>Delivery Address</span> {{ deliveryAddress.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{ deliveryAddress.userId }}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{ deliveryAddress.firstName }}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{ deliveryAddress.lastName }}</span>
                </dd>
                <dt><span>Email</span></dt>
                <dd>
                    <span>{{ deliveryAddress.email }}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ deliveryAddress.phone }}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{ deliveryAddress.city }}</span>
                </dd>
                <dt><span>Street</span></dt>
                <dd>
                    <span>{{ deliveryAddress.street }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ deliveryAddress.createdAt }}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{ deliveryAddress.updatedAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/delivery-address', deliveryAddress.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
